[submodule "build"]
	path = build
	url = git@github.com:thedmd/pianobar-windows-binaries.git
[submodule "pianobar/src"]
	path = pianobar/src
	url = git@github.com:thedmd/pianobar-windows.git
	branch = windows-port
